body{
    font-family: "raleway", sans-serif;
    margin: 0;
    max-width: 100%;
}
@font-face{
  font-family :'raleway';
  src:url('raleway/Raleway-Medium.ttf');
}

/* HEADER */

header {
display: flex;
justify-content: space-between;
padding-bottom: 5px;
}

.logo {
margin: 25px auto 0 35px;
}

li{
  padding: 1em;
}

nav ul {
display: flex;
padding: 0;
height: 100%;
list-style-type: none;
}

nav ul li:hover {
border-top: solid 2.5px #0065fc;
}

a:hover {
color: #0065fc ;
}

header a {
display: block;
padding: 0 25px;
padding-top: 40px;
font-size: .9rem;
color: #000;
text-decoration: none;
transition: color .2s;
}

header > a {
margin-right: 10px;
margin-top: 2.2em;
font-weight: bold;
color: #0065fc;
}

/* SECTION RECHERCHE */

@media only screen and (max-width: 768px){

/* HEADER */

header {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

header > a {
  padding: 5px;
  margin-right: 20px;
  margin-top: 1em;
  order: 2;
}

.logo {
  margin-top: 0;
  margin-left: 20px;
  margin-right: auto;
  order: 1;
}
nav {
  flex-basis: auto;
  margin-top: -2em;
  width: 100%;
  order: 3;
}
nav ul {
  padding: 0;
}

nav li {
  width: 50%;
  text-align: center;
}
nav ul li:hover {
border-top: none;
border-bottom: solid 2.5px #0065fc;
}

a:hover {
color: #0065fc ;
}
}