body{
    font-family: "raleway", sans-serif;
    margin: 0;
    max-width: 100%;
}
@font-face{
  font-family :'raleway';
  src:url('raleway/Raleway-Medium.ttf');
}

/* HEADER */

header {
display: flex;
justify-content: space-between;
padding-bottom: 5px;
}

.logo {
margin: 25px auto 0 35px;
}

li{
  padding: 1em;
}

nav ul {
display: flex;
padding: 0;
height: 100%;
list-style-type: none;
}

nav ul li:hover {
border-top: solid 2.5px #0065fc;
}

a:hover {
color: #0065fc ;
}

header a {
display: block;
padding: 0 25px;
padding-top: 40px;
font-size: .9rem;
color: #000;
text-decoration: none;
transition: color .2s;
}

header > a {
margin-right: 10px;
margin-top: 2.2em;
font-weight: bold;
color: #0065fc;
}

/* SECTION RECHERCHE */

section {
    display: block;
    margin-left: 2.5em;
}

/* titre */
.recherche h1 {
  font-size: 30px;
  margin-top: 1vw;
  margin-right: 20px;
  clear: left;
}

/* paragraphe */
.recherche p {
  margin-left: 0;
  margin-bottom: 20px;
  font-size: 16px;
}

/* Bloc Formulaire*/
.searchform {
  padding-top: 10px;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
  display: flex;
  height: 50px;
  margin-bottom: 30px;
}

/* Pointeur carte */
.mapmarker {
  min-width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-size: 1.2em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  }

/* Encart Marseille */
.searchfield {
  width: 12rem;
  border-top: solid #f2f2f2 1px;
  border-bottom: solid #f2f2f2 1px;
  border-left: none;
  border-right: none;
  font-family: "raleway", sans-serif;
  font-weight: bold;
  font-size: initial;
  padding-left: 20px;
}

/* Bouton de recherche */
.searchbuttonsubmit {
  width: 132px;
  background-color: #0065fc;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: initial;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  position: relative;
  cursor: pointer;
  
}

.searchbuttonsubmit i {
  font-size: 0;
}

@media only screen and (max-width: 768px){

/* HEADER */

header {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

header > a {
  padding: 5px;
  margin-right: 20px;
  margin-top: 1em;
  order: 2;
}

.logo {
  margin-top: 0;
  margin-left: 20px;
  margin-right: auto;
  order: 1;
}
nav {
  flex-basis: auto;
  margin-top: -2em;
  width: 100%;
  order: 3;
}
nav ul {
  padding: 0;
}

nav li {
  width: 50%;
  text-align: center;
}
nav ul li:hover {
border-top: none;
border-bottom: solid 2.5px #0065fc;
}

a:hover {
color: #0065fc ;
}

/* SECTION RECHERCHE */

/* Bouton de recherche */
.searchbuttonsubmittext{
    display:none;
  }
.searchbuttonsubmit i {
    font-size: initial;
  }

.searchbuttonsubmit {
    width:50px;
    cursor: pointer;
  }

/* SECTION FILTRES */ 

h3 {
    width:100%;
    }
  
#buttonfiltersearch {
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
}

}